@{
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<form method="post" class="form-register" action="/Authentication/Register">
    <img class="mb-4" src="~/img/ghost.png" alt="" width="100" height="100">
    <h1 class="h3 mb-3 font-weight-normal">Please sign up</h1>
    <input type="text" name="Username" placeholder="Username" class="form-control" />
    <input type="email" name="Email" placeholder="Email address" class="form-control" />
    <input type="password" name="Password" placeholder="Password" class="form-control" />
    <input type="password" name="PasswordRetry" placeholder="Retry password" class="form-control last-input" />
    <button type="submit" class="btn btn-lg btn-primary btn-block">Register</button>
    <a href="/">Login page</a>
</form>
