@using GhostChat.Data.Models
@model List<User>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/css/users.css" rel="stylesheet" />

<div class="container">
    <h1 class="text-center">GhostChat Users</h1>
    <h3 class="text-center">Find your friends to chat with</h3>
    <div class="users-list">
        <ul>
            @foreach (User user in Model) {
                <li>
                    <img src="~/img/avatar.png" />
                    <span>@user.Username</span>
                    <button type="button" class="btn btn-primary">Add to friends</button>
                </li>
            }
        </ul>
    </div>
</div>