<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel='icon' href='~/img/favicon.ico' type='image/x-icon' />
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/auth_form.css" rel="stylesheet" />
    <title>@ViewBag.Title</title>
</head>
<body class="text-center">
    @RenderBody();
</body>
</html>
